{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="row">

  <div class="col">

    <div class="container">
        <h2 class="text-center">TO DO</h2>

        {% for task in tasks %}
            {% if task.status == 'to_do' %}
          <div class="card border-primary mb-3 text-center" style="width: 18rem;" >
            <div class="card-body">
                <p class="card-text">{{ task.content }}</p>
            </div>
            <div class="card-footer">
                <a href="/task/{{ task.status }}/{{ task.id }}" class="btn btn-link btn-sm">Take task</a>
                <a href="/delete/{{ task.id }}" class="btn btn-link btn-sm">Delete</a>
            </div>
          </div>
        {% endif %}
        {% endfor %}
        <form action="/" method="POST">
            <div class="row justify-content-center">
                <div class="input-group mb-3" style="width: 18rem;">
                <input type="text" name="content" id="content" class="form-control" placeholder="New task" aria-label="New task" aria-describedby="basic-addon2">
                <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Add</button>
            </div>
            </div>
            </div>
    </form>
    </div>
  </div>


  <div class="col">
    <div class="container">
      <h2 class="text-center">DOING</h2>
        {% for task in tasks %}
            {% if task.status=='doing' %}
            <div class="card border-dark mb-3 text-center" style="width: 18rem;">

            <div class="card-body">
                <p class="card-text">{{ task.content }}</p>
            </div>
            <div class="card-footer">
                <a href="/task/{{ task.status }}/{{ task.id }}" class="btn btn-link btn-sm">Completed</a>
                <a href="/discard/{{ task.id }}" class="btn btn-link btn-sm">Discard</a>
            </div>
            </div>
        {% endif %}
        {% endfor %}

    </div>
  </div>

  <div class="col">
    <div class="container">
      <h2 class="text-center">DONE</h2>
        {% for task in tasks %}
            {% if task.status=='done' %}
            <div class="card border-success mb-3 text-center" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text ">{{ task.content }}</p>
            </div>
            <div class="card-footer">
                <a href="/delete/{{ task.id }}" class="btn btn-link btn-sm">Remove</a>
            </div>
          </div>

        {% endif %}
        {% endfor %}




    </div>
  </div>
</div>


{% endblock %}