{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="row">
  <div class="col">
    <div class="container">
        <h2 class="text-center">TO DO</h2>

        {% for task in tasks %}
            {% if task.status == 'to_do' %}
          <div class="card border-primary mb-3">
            <div class="card-body">{{ task.content }}</div>
            <div class="card-footer">
                <a href="take/{{ task.id }}" class="btn btn-primary">Take task</a>
                <a href="/delete/{{ task.id }}" class="btn btn-primary">Delete</a>
            </div>
          </div>
        {% endif %}
        {% endfor %}
        <form action="/" method="POST">
        <div class="input-group mb-3">
            <input type="text" name="content" id="content" class="form-control" placeholder="New task" aria-label="New task" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Add</button>
            </div>
        </div>
    </form>
    </div>
  </div>

  <div class="col">
    <div class="container">
      <h2 class="text-center">DOING</h2>
        {% for task in tasks %}
            {% if task.status=='doing' %}
            <div class="card border-dark mb-3">

            <div class="card-body">{{ task.content }}</div>
            <div class="card-footer">
                <a href="/complete/{{ task.id }}" class="btn btn-primary">Complete</a>
                <a href="/discard/{{ task.id }}" class="btn btn-primary">Discard</a>
            </div>
            </div>
        {% endif %}
        {% endfor %}

    </div>
  </div>

  <div class="col">
    <div class="container">
      <h2 class="text-center">DONE</h2>
        {% for task in tasks %}
            {% if task.status=='done' %}
            <div class="card border-success mb-3">
            <div class="card-body">{{ task.content }}</div>
            <div class="card-footer">
                <a href="/delete/{{ task.id }}" class="btn btn-primary">Remove</a>
            </div>
          </div>

        {% endif %}
        {% endfor %}




    </div>
  </div>
</div>


{% endblock %}